*{
    margin: 0;
    padding: 0;
    font-family:'Times New Roman', Times, serif;
}
header{
    background: rgb(86, 216, 226);
    width: auto;
    height: 11vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-shadow: 0px 4px 4px 0px teal;
}
h1{
    margin: .5em
}
.link{
    display:flex;
    flex-direction: row;
    font-size: large;
    justify-content:space-between;
    margin: 1em 2em;
}

.image img{
    width: 100%;
    height:auto
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    box-shadow: 1em 1em .5em -.25em teal;
    margin-left: -1em;
    
}
.principal{
    background-color: rgb(173, 235, 228);
    display:flexbox;
    width: Fixed (1,440px);
    height: Fixed (318px);
    top: 109px;
    padding: 32px;
    gap: 125px;
}
.blocos{
    width: auto;
    height: 40vh;
    display: flex;
    flex-direction: row;
}
.vazio-esq{
    width: 5%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.vazio-dir{
    width: 5%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bloco{
    width: 55%;
    height: auto;
}
.titulo{
    text-align: left;
    font-size: 1em;
    font-weight: bold;
    width: auto;
    height: 6rem;
    display: flex;
    align-items: center;
}
.texto{
    text-align: left;
    font-size: large;
    display: flex;
    align-items: start;
    width: auto;
    height: 14em;
    line-height: 2;
}
header .principal .image{
    width: 40%;
    height: auto;
    padding-top: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Link1 {
    width: 8%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Link2 {
    width: 8%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Link3 {
    width: 8%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Tudo {
    background-color:rgb(191, 235, 220);
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.CardsHobbies,
.CardsTop {
    gap: 1em;
    display: flex;
}

.hobbies {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 2em;
    justify-content: center;
    height: 40vh;
}

.hobbies h3{
    font-size: 1.5em;
    font-weight: bold;
}

.top h3{
    font-size: 1.5em;
    font-weight: bold;
}

.top {
    display: flex;
    flex-direction: column;
    gap: 2em;
    justify-content: center;
    height: 40vh;
}

.hobbie,
.tops {
    width: 7vw;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.9em;
    font-weight: bold;
}
section img{
    border-radius: 10%;
    box-shadow: 0px 4px 4px 0px teal;
}
footer img{
    border-radius: 50%;
    width:3%;
    height: auto;
}
.Rodape {
    background-color: rgb(86, 216, 226);
    width: auto;
    height: 9vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 4em;
}

.links {
    gap: 2em;
    display: flex;
    justify-content: right;
    align-items: center;
}

.logos img{
    background-color: black;
    border-radius: 50%;
    width: 3em;
    height: 3em;
    object-fit: cover;
  }

.contato {
    gap: 2.5em;
    display: flex;
    justify-content: right;
    align-items: center;
    font-size: 1.5em;
}
button{
    border-radius: 12px;
}
button:hover {
    background-color: #5d90bd; /* Green */
    color: rgb(211, 151, 151);
}
a:hover{
    outline: dotted red;
}